# Python
__pycache__/
*.pyc

# Models
*.pt
*.pth
*.ckpt
checkpoints/

# Data
data/
dataset/
PlantVillage/
PlantDoc/
*.zip

# Notebooks
.ipynb_checkpoints/

# Env
.env
venv/

# Logs / outputs
logs/
outputs/
*.log

# System
.DS_Store